<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="basePath">./test-output/logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="File" fileName="${basePath}/log4j-output.log" filePattern="${basePath}/log4j-output.log-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{3} -%msg%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
				<SizeBasedTriggeringPolicy size="100 KB"/>
			</Policies>
		</RollingFile>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %c{3} -%msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
        <Root level="info">
			<AppenderRef ref="File"/>
			<AppenderRef ref="Console"/>
		</Root>
	   <Logger name= "testBase" level="debug"	additivity="false">
			<AppenderRef ref="File"/>
			<AppenderRef ref="Console"/>
	    </Logger>
	</Loggers>
		
	
		
		
</Configuration>